<!-- public/user-login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./admin-login.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
 <title>User Login</title>
</head>
<body>
  <div class="container">

    <div class="logoside">
      <div class="logodiv">
        <h1>Logo</h1>
      </div>

    </div>

    <div class="formside">
      <div class="formdiv">
        <h1>User Login</h1>
        <form action="/" method="post">
          <label for="userId"></label>
          <input type="text" placeholder="user id" id="userId" name="userId" required>
          <br>
          <label for="password"></label>
          <input type="password" placeholder="password" id="password" name="password" required>
          <br>
          <button type="submit" value="Login">Login</button>
        </form>
      </div>

      
    </div>

  </div>



</body>
</html>

